{%extends "base.html"%}
{%block title%}欢迎-通用复习组件{%endblock%}
{%block active%}portal{%endblock%}
{%block content%}
    <div class="title">
        <h1>欢迎使用通用复习组件！</h1>
    </div>
    <form method="post">
    {% csrf_token %}
        <h3>请选择复习内容</h3>
        {%for item in groups%}
        <input type="checkbox" name="group{{forloop.counter0}}">{{item}}</input><br>
        {%endfor%}
        <h3>请选择复习顺序</h3>
        <input type="radio" name="order" value="1">顺序</input>
        <input type="radio" name="order" value="0">随机</input>
        <br><br>
        <button class="btn btn-primary btn-lg" type="submit">开始复习</button>
    </form>
{%endblock%}
