{%extends "base.html"%}
{%block title%}复习{%endblock%}
{%block active%}review{%endblock%}
{%block extra_script_pre%}<script src="/static/scripts/review.js"></script>{%endblock%}
{%block content%}
    <form class="form-inline" method="post">
        <h2>{{question.title}}</h2>
        <div id="question"></div>
        {% ifequal question.q_class 0 %}
        <script>document.getElementById("question").innerHTML=get_blanks_random("{{question.question|linebreaksbr}}");</script>
        {% endifequal %}
        {% ifequal question.q_class 1 %}
        <script>document.getElementById("question").innerHTML=get_blanks_strict("{{question.question|linebreaksbr}}","{{question.answer}}")</script>
        {% endifequal %}
        <br>
    </form>
    {%ifequal question.q_class 0%}
    <button class="btn btn-primary btn-lg" id="submit" onclick="check_answer_random('{{question.question}}')">提交</button>
    {%endifequal%}
    {%ifequal question.q_class 1%}
    <script type="text/javascript">answer_to_check='{{question.answer}}'</script>
    <button class="btn btn-primary btn-lg" id="submit" onclick="check_answer_strict(answer_to_check)">提交</button>
    {%endifequal%}
{%endblock%}

{%block extra_script_post%}
    <script src="http://lib.sinaapp.com/js/jquery.cookie/jquery.cookie.js"></script>
{%endblock%}
